@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'passion one', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
    color: aliceblue;
}

header{
    font-family: var(--font2);
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

 section.normal{
    background-color: white;
    color: black;
 }

 section.Imagem{
    padding-bottom: 20px;
    background-color: rgb(39, 37, 37);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
 }

section.Imagem > p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.356);

 }
 #img01{
        background-image: url(../desafio12/imagens/background001.jpg);
        background-position: right center;
 }

 #img02{
    background-image: url(imagens/background002.jpg);
 }

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}