@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
display: grid;
grid-template-rows: repeat(3, 100px);
grid-template-columns: repeat(4, 1fr);
background-color: rgba(16, 151, 181, 0.418);
border: 1px solid blue;
}



.caixa1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 218, 165);
    border: 1px solid rgba(59, 59, 162, 0.741);
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2{
    display: flex;
    background-color: rgb(12, 162, 162);
    border:1px solid rgb(8, 8, 147);
    grid-area: 2 / 1 / 4 / 3;
    align-items: center;
    justify-content: center;
}
.caixa3{
     align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(18, 146, 146);
    border: 1px solid rgb(40, 40, 147);
    grid-area: 2 / 3 / 4 / 5;
}
